<p-card>
    <ng-template pTemplate="header">
        <h2>Log New Shipment</h2>
    </ng-template>
<form (submit)="submit(shipment)">
    <label for="itemName">Fruit:</label> <br>
    <input type="text" pInputText name="itemName" [(ngModel)]="shipment.itemName"/> <br>
    <label for="pounds">Pounds:</label> <br>
    <p-inputNumber name="pounds" [(ngModel)]="shipment.pounds"></p-inputNumber> <br>
    <label for="warehouseNum">Warehouse Number:</label> <br>
    <p-inputNumber name="warehouseNum" [(ngModel)]="shipment.warehouseNum"></p-inputNumber> <br>
    <button pButton type="submit" class="p-button-raised p-button-rounded">Submit</button>
</form>
</p-card>


