<div>
<p-card>
<ng-template pTemplate="header">
    <h2>Search by Warehouse</h2>
</ng-template>
<form (submit)="onChange()">
    <label for="searchNum">Warehouse Number:</label> <br>
    <p-inputNumber name="searchNum" [(ngModel)]="searchNum"></p-inputNumber> <br>
    <button pButton type="submit" class="p-button-raised p-button-rounded">Submit</button>
</form>
</p-card>
</div>

<section>
<p-table [value]="shipments" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr><th>Crate ID</th><th>Fruit</th><th>Pounds</th><th>Warehouse Number</th></tr>
    </ng-template>
    <ng-template pTemplate="body" let-shipment>
        <tr>
            <td>{{shipment.crateID}}</td>
            <td>{{shipment.itemName}}</td>
            <td>{{shipment.pounds | number}}</td>
            <td>{{shipment.warehouseNum}}</td>
        </tr>
    </ng-template>
</p-table>
</section>
