<h2>Find Shipments by Warehouse</h2>
<input type="number" name="searchNum" [(ngModel)]="searchNum" (change)="onChange()"/>

<table>
    <thead>
        <tr><th>Crate ID</th><th>Item Name</th><th>Pounds</th><th>Warehouse Number</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let shipment of shipments">
            <td>{{shipment.crateID}}</td>
            <td>{{shipment.itemName}}</td>
            <td>{{shipment.pounds}}</td>
            <td>{{shipment.warehouseNum}}</td>
        </tr>
    </tbody>
</table>
