<p-card>
    <ng-template pTemplate="header">
        <h2>Update Fruit Price</h2>
    </ng-template>
<form (submit)="submit(item)">
    <label for="itemName">Fruit:</label> <br>
    <input type="text" pInputText name="itemName" [(ngModel)]="item.itemName"/> <br>
    <label for="pricePerPound">Price per Pound:</label> <br>
    <p-inputNumber name="pricePerPound" [(ngModel)]="item.pricePerPound"></p-inputNumber> <br>
    <button pButton type="submit" class="p-button-raised p-button-rounded">Submit</button>
</form>
</p-card>
