<app-save-item></app-save-item>
<hr>
<app-item-list></app-item-list>
<hr>
<app-find-item></app-find-item>
<hr>
<app-update-item></app-update-item>
<hr>
<app-warehouse-list></app-warehouse-list>
<hr>
<app-find-warehouse></app-find-warehouse>
<hr>
<app-save-warehouse></app-save-warehouse>
<hr>
<app-delete-warehouse></app-delete-warehouse>
<hr>
<app-shipment-list></app-shipment-list>
<hr>
<app-find-shipment-by-name></app-find-shipment-by-name>
<hr>
<app-find-shipment-by-crate></app-find-shipment-by-crate>
<hr>
<app-save-shipment></app-save-shipment>
<hr>
<app-delete-shipment></app-delete-shipment>
<hr>
<app-find-shipments-by-warehouse></app-find-shipments-by-warehouse>