<h2>Find Shipments by Name</h2>
<input type="text" name="searchName" [(ngModel)]="searchName" (change)="onChange()"/>

<p-table [value]="shipments" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr><th>Crate ID</th><th>Fruit</th><th>Pounds</th><th>Warehouse Number</th></tr>
    </ng-template>
    <ng-template pTemplate="body" let-shipment>
        <tr>
            <td>{{shipment.crateID}}</td>
            <td>{{shipment.itemName}}</td>
            <td>{{shipment.pounds | number}}</td>
            <td>{{shipment.warehouseNum}}</td>
        </tr>
    </ng-template>
</p-table>
