body {
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 5px 5px 8px #777;
}
div {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}
app-save-shipment {
    float: left;
}
app-delete-shipment {
    float: right;
    margin-top: 10%;
}
app-shipment-list {
    clear: both;
}
section {
    margin-left: 10%;
    margin-right: 10%;
}
hr {
    background-color: black;
}