<div>
<h2>Company Warehouses</h2>
<p-table [value]="warehouses" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr><th>Warehouse Number</th><th>Max Capacity (lbs)</th><th>Current Capacity (lbs)</th></tr>
    </ng-template>
    <ng-template pTemplate="body" let-warehouse>
        <tr>
            <td>{{warehouse.warehouseNum}}</td>
            <td>{{warehouse.maxCapacity | number}}</td>
            <td>{{warehouse.currentCapacity | number}}</td>
        </tr>
    </ng-template>
</p-table>
</div>