<h2>Find Shipment by Crate ID</h2>
<form (submit)="onChange()">
    <label for="searchName">Enter Crate ID:</label> <br>
    <p-inputNumber name="searchNum" [(ngModel)]="searchNum"></p-inputNumber> <br>
    <button pButton type="submit" class="p-button-raised p-button-rounded">Submit</button>
</form>

<p-card *ngIf="shipment">
    <ng-template pTemplate="header">
        <div>Crate ID: {{shipment.crateID}}</div>
    </ng-template>
    <div>Fruit: {{shipment.itemName}}</div>
    <div>Pounds: {{shipment.pounds | number}}</div>
    <div>Warehouse Number: {{shipment.warehouseNum}}</div>
</p-card>